%section.site-header
  %h1.site-title Ridiculous Rails
  %h2.site-tagline Learn Rails the ridiculously hard way 

%hr

%nav.site-links.clearfix
  .site-link
    = link_to "Challenges", home_url
  .site-link
    = link_to "Why?", about_url