%h1 Ridiculous Rails
%h2 Learn Rails the ridiculously hard way 

%nav
  = link_to "The Challenges", "www.google.com"
  = link_to "Why Learn Rails Ridiculously?", about_url

%hr

%h3 Why Learn Rails Ridiculously?

%p We believe Rails is best learned by doing ridiculous awesome things.

%h3 What's wrong with online Rails learning today?

%p Most online learning assumes you’re a weak baby who flinches at a challenge. So they break up coding and programming into the tiniest units possible, and put you in  their little box online and reward you with badges. The problems with this method are numerous. It makes you timid, you don’t really learn to how deploy real solutions, and it makes you scared to fail. And to date, I’ve never met someone who actually made real apps by learning off these sites. But to me, worst of all, all the prevalence of these schools have tricked you into thinking that you need to do some damn online course to learn.

%p Learn Rails now God intended, by making dumb awesome stuff.

%h3 How we walk you through it

%p Each ridiculous rails problem will first just be the problem being posted, and the steps required to do it.

%p After that, we’ll link you to some resources online, like Railscasts

%p Finally, we’ll try and post screencasts of an implementation. There is no one single right answer, so we’ll just post the general gist of everything.

%h3 The Benefits

%p Each problem will be a sort of full app. So you’ll be learning and combining techniques in rails/ruby in new ways and always launching a product. A big perk of this method is learning the system admin parts of rails. A lot of schools totally ignore deploying an app, we don’t.

